<ion-content>
  
<ion-list>
  <ion-item-sliding *ngFor="let voucher of vouchers | async">
    <ion-item>
      {{ voucher.offer }}
    </ion-item>
    <ion-item-options side="end">
      <button ion-button color="danger" (click)="removeVoucher(voucher)">
      <ion-icon name="trash"></ion-icon>
      Delete
    </button>
    </ion-item-options>
    <button (click)="postUserVoucher(voucher)" ion-item>
      <ion-icon name="cart" item-start></ion-icon>
      Buy this Voucher
    </button>
  </ion-item-sliding>
</ion-list>

<ion-fab vertical="center" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addVoucher()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab right bottom>
  <button ion-fab (click)="addVoucher()"><ion-icon name="add"></ion-icon></button>
  
</ion-fab>

<div *ngFor = "let voucher of vouchers | async"> 
    <ion-card color=yellow>
        <ion-card-header>
          <ion-card-subtitle>Food</ion-card-subtitle>
          <ion-card-title>{{voucher.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{voucher.offer}}   </ion-card-content> 
          <ion-item>
              <ion-icon name="pricetags" slot="start"></ion-icon>
              <ion-label> {{voucher.price}}</ion-label>
          </ion-item></ion-card>
</div>

<div class="ion-padding">
  <ion-card color=secondary >
      <ion-card-header>
        <ion-card-subtitle>Clothes</ion-card-subtitle>
        <ion-card-title>Bershka</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Buy 2 Get 1 Free </ion-card-content> 
        <ion-item>
            <ion-icon name="pricetags" slot="start"></ion-icon>
            <ion-label>250 points</ion-label>
        </ion-item></ion-card>
</div>

</ion-content>