<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Points
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <br />
  <h2>
    <ion-text color="secondary" style="font-weight:bold">
      Hello, {{ clientName }}!</ion-text
    >
  </h2>
  <br />
  <br />
  <div class="container">
    <div class="progress-wrapper">
      <div class="current" [ngStyle]="getOverlayStyle()">
        Points Left: {{ current }}
      </div>

      <round-progress
        [current]="current"
        [max]="max"
        [stroke]="stroke"
        [radius]="radius"
        [semicircle]="semicircle"
        [rounded]="rounded"
        [responsive]="responsive"
        [clockwise]="clockwise"
        [color]="gradient ? 'url(#gradient)' : color"
        [background]="background"
        [duration]="duration"
        [animation]="animation"
        [animationDelay]="animationDelay"
      ></round-progress>
    </div>
  </div>

  <br />
  <ion-button color="medium" size="default" expand="block" (click)="toggle()"
    >Update Info
  </ion-button>

  <form [formGroup]="updateForm" *ngIf="updateHidden">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input
        type="text"
        inputmode="text"
        formControlName="username"
        [(ngModel)]="username"
      ></ion-input>
    </ion-item>

    <ion-text
      color="danger"
      *ngIf="
        updateForm.get('username').errors?.pattern &&
        updateForm.get('username').touched
      "
    >
      Your username can contian alphabets, _, and numbers only.
    </ion-text>

    <ion-text
      color="danger"
      *ngIf="
        updateForm.get('username').errors?.minlength &&
        updateForm.get('username').touched &&
        !updateForm.get('username').errors?.pattern
      "
    >
      Your username is too short.
    </ion-text>

    <br />

    <!-- end of username -->
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input
        type="text"
        inputmode="text"
        formControlName="name"
        [(ngModel)]="name"
      ></ion-input>
    </ion-item>

    <ion-text
      color="danger"
      *ngIf="
        updateForm.get('name').errors?.pattern && updateForm.get('name').touched
      "
    >
      Your name should contain alphabets only.
    </ion-text>
    <ion-text
      color="danger"
      *ngIf="
        updateForm.get('name').errors?.minlength &&
        updateForm.get('name').touched &&
        !updateForm.get('name').errors?.pattern
      "
    >
      Your name is too short.
    </ion-text>

    <br />

    <!-- end of name -->

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        [(ngModel)]="password"
      ></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="
        updateForm.get('password').errors?.pattern &&
        updateForm.get('password').touched
      "
    >
      Your password cannot contain spaces.
    </ion-text>
    <ion-text
      color="danger"
      *ngIf="
        updateForm.get('password').errors?.minlength &&
        updateForm.get('password').touched &&
        !updateForm.get('password').errors?.pattern
      "
    >
      Your password is too short.
    </ion-text>
    <br />

    <!-- end of password -->
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input
        type="password"
        formControlName="confirmpassword"
        [(ngModel)]="confirmpassword"
      ></ion-input>
    </ion-item>

    <ion-text
      color="danger"
      *ngIf="
        updateForm.get('confirmpassword').value !=
        updateForm.get('password').value
      "
    >
      Password and confirm password do not match.</ion-text
    >
    <br />
    <br />
    <br />
    <ion-button color="success" (click)="updateInfo()">Update</ion-button>
  </form>
  <br />
  <ion-button
    color="danger"
    size="default"
    expand="block"
    (click)="logoutUser()"
    >Logout
  </ion-button>
</ion-content>
