<ion-header>
  <ion-toolbar color=secondary>
    <ion-title>
      Promotions
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-card color=secondary >
          <ion-card-header>
            <ion-card-subtitle>Clothes</ion-card-subtitle>
            <ion-card-title>Bershka</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Buy 2 Get 1 Free </ion-card-content> 
            <ion-item>
                <ion-icon name="pricetags" slot="start"></ion-icon>
                <ion-label>250 points</ion-label>
            </ion-item></ion-card>

            <ion-card color=yellow>
                <ion-card-header>
                  <ion-card-subtitle>Food</ion-card-subtitle>
                  <ion-card-title>Carrefour</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  50 EGP Voucher   </ion-card-content> 
                  <ion-item>
                      <ion-icon name="pricetags" slot="start"></ion-icon>
                      <ion-label>200 points</ion-label>
                  </ion-item></ion-card>

                  <ion-card  color=warning>
                      <ion-card-header>
                        <ion-card-subtitle>Bills</ion-card-subtitle>
                        <ion-card-title>Gas Bill</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        Free Gas Bill   </ion-card-content> 
                        <ion-item>
                            <ion-icon name="pricetags" slot="start"></ion-icon>
                            <ion-label>50 points</ion-label>
                        </ion-item></ion-card>

                        <ion-card color=primary>
                            <ion-card-header>
                              <ion-card-subtitle>Transportation</ion-card-subtitle>
                              <ion-card-title>Uber</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                              50% off Uber Ride   </ion-card-content> 
                              <ion-item>
                                  <ion-icon name="pricetags" slot="start"></ion-icon>
                                  <ion-label>100 points</ion-label>
                              </ion-item></ion-card>

                              <ion-card color=tertiary>
                                  <ion-card-header>
                                    <ion-card-subtitle>Furniture</ion-card-subtitle>
                                    <ion-card-title>Ikea</ion-card-title>
                                  </ion-card-header>
                                  <ion-card-content>
                                      30% off one item up to 2000 EGP </ion-card-content> 
                                    <ion-item>
                                        <ion-icon name="pricetags" slot="start"></ion-icon>
                                        <ion-label>400 points</ion-label>
                                    </ion-item></ion-card>
  
  </div>
</ion-content>
