<ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Vouchers
      </ion-title>
      
    </ion-toolbar>
  </ion-header>

<ion-content>
  
  
  <div class="ion-padding" *ngFor = "let voucher of vouchers | async"> 
      <ion-card color=secondary >
          <ion-card-header>
            <ion-card-subtitle>Voucher</ion-card-subtitle>
            <ion-card-title color="grey">{{voucher.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              {{voucher.offer}}   </ion-card-content> 
            <ion-item color=grey>
                <ion-icon name="pricetags" slot="start"></ion-icon>
                <ion-label> {{voucher.price}}</ion-label>
                <button ion-button icon-end color="primary" clear (click)="presentConfirm(voucher)"item-end>
                  <ion-icon size="large" name="cart"></ion-icon>
                </button>
              </ion-item></ion-card>
  </div>
  
  
  </ion-content>