<ion-header>
  <ion-toolbar>
    <ion-title color="primary"> Registration</ion-title>
  </ion-toolbar>
</ion-header>
<br />
<br />

<ion-content>
  <form [formGroup]="signupForm">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input
        type="text"
        formControlName="username"
        [(ngModel)]="username"
      ></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('username').errors?.required &&
        signupForm.get('username').touched
      "
    >
      Please insert your username
    </ion-text>

    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('username').errors?.pattern &&
        signupForm.get('username').touched &&
        !signupForm.get('username').errors?.required
      "
    >
      Your username can contian alphabets, _, and numbers only.
    </ion-text>

    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('username').errors?.minlength &&
        signupForm.get('username').touched &&
        !signupForm.get('username').errors?.pattern &&
        !signupForm.get('username').errors?.required
      "
    >
      Your username is too short.
    </ion-text>

    <br />

    <!-- end of username -->

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input
        type="text"
        inputmode="text"
        formControlName="name"
        [(ngModel)]="name"
      ></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('name').errors?.required &&
        signupForm.get('name').touched
      "
    >
      Your Name is required.
    </ion-text>

    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('name').errors?.pattern &&
        signupForm.get('name').touched &&
        !signupForm.get('name').errors?.required
      "
    >
      Your Name should contain alphabets only.
    </ion-text>
    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('name').errors?.minlength &&
        signupForm.get('name').touched &&
        !signupForm.get('name').errors?.pattern
      "
    >
      Your name is too short.
    </ion-text>

    <br />

    <!-- end of name -->
    <ion-item>
      <ion-label position="floating">Region</ion-label>
      <ion-input
        type="text"
        formControlName="region"
        [(ngModel)]="region"
      ></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('region').errors?.required &&
        signupForm.get('region').touched
      "
    >
      Please insert your region details
    </ion-text>

    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('region').errors?.pattern &&
        signupForm.get('region').touched &&
        !signupForm.get('region').errors?.required
      "
    >
      Your region should be alphanumeric.
    </ion-text>

    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('region').errors?.minlength &&
        signupForm.get('region').touched &&
        !signupForm.get('region').errors?.pattern &&
        !signupForm.get('region').errors?.required
      "
    >
      Your region is too short.
    </ion-text>

    <br />

    <!-- end of region -->
    <ion-item>
      <ion-label position="floating">Building Number</ion-label>
      <ion-input
        type="number"
        formControlName="buildingNumber"
        [(ngModel)]="building"
      ></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('buildingNumber').errors?.required &&
        signupForm.get('buildingNumber').touched
      "
    >
      Your required to specify your building number.
    </ion-text>
    <ion-text
      color="danger"
      *ngIf="
        (signupForm.get('buildingNumber').errors?.max &&
          signupForm.get('buildingNumber').touched) ||
        (signupForm.get('buildingNumber').errors?.min &&
          signupForm.get('buildingNumber').touched)
      "
    >
      Your building number should be between 1 and 999.
    </ion-text>

    <br />

    <!-- end of building number -->

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        [(ngModel)]="password"
      ></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('password').errors?.required &&
        signupForm.get('password').touched
      "
    >
      Password is required.
    </ion-text>
    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('password').errors?.pattern &&
        signupForm.get('password').touched &&
        !signupForm.get('password').errors?.required
      "
    >
      Your password cannot contain spaces.
    </ion-text>
    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('password').errors?.minlength &&
        signupForm.get('password').touched &&
        !signupForm.get('password').errors?.pattern
      "
    >
      Your password is too short.
    </ion-text>
    <br />

    <!-- end of password -->
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input
        type="password"
        formControlName="confirmpassword"
        [(ngModel)]="confirmpassword"
      ></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('confirmpassword').touched &&
        signupForm.get('confirmpassword').errors?.required
      "
    >
      Please re-enter your password.
    </ion-text>
    <ion-text
      color="danger"
      *ngIf="
        signupForm.get('confirmpassword').errors?.MatchPassword &&
        signupForm.get('confirmpassword').touched &&
        !signupForm.get('confirmpassword').errors?.required
      "
    >
      Password and confirm password do not match.</ion-text
    >
    <br />
    <br />
    <br />
    <ion-button expand="block" color="medium" (click)="register()"
      >Register</ion-button
    >
    <ion-button expand="block" color="primary" (click)="login()"
      >Login</ion-button
    >
  </form>
</ion-content>
